.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.page-headline {
  font-size: 3rem;
  font-weight: 700;
}
.page-subheadline {
  font-size: 1.5rem;
  font-weight: 500;
}
.homepage-section {
  /* width: inherit; */
}
.hero {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 350px;
  max-height: 350px;
}
.project-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
nav {
  margin-right: 0.5rem;
}
.title-card {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 1.5rem;
  /* min-width: 200px !important; */
}
.title-card > .homepage-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.title-card * h1 {
  font-size: 3rem;
}
.card-one {
  /* background-image: linear-gradient(
    to bottom right,
    rgba(173, 216, 230, 1),
    rgba(173, 216, 230, 0.8)
  ); */
  background-color: white;
}
.wave-emoji {
  display: inline-block;
  animation: wobble 4s ease-in-out;
  animation-delay: 0.5s;
}
@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-45px) rotate(-10deg);
    transform: translateX(-45px) rotate(-10deg);
  }

  30% {
    -webkit-transform: translateX(calc(45px / 2)) rotate(10deg);
    transform: translateX(calc(45px / 2)) rotate(10deg);
  }

  45% {
    -webkit-transform: translateX(calc(-45px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-45px / 2)) rotate(calc(-10deg / 1.8));
  }

  60% {
    -webkit-transform: translateX(calc(45px / 3.3)) rotate(calc(10deg / 3));
    transform: translateX(calc(45px / 3.3)) rotate(calc(10deg / 3));
  }

  75% {
    -webkit-transform: translateX(calc(-45px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-45px / 5.5)) rotate(calc(-10deg / 5));
  }
}
.emoji {
  margin: 0 10px;
}
.inline-block {
  display: inline-block;
}
.smaller-h1 {
  font-size: 2.1rem !important;
}
.homepage-divider {
  /* display: flex;
  flex-direction: row; */
  box-sizing: border-box;
  font-weight: bold;
  background-color: white;
  /* width: 99%; */
}
.fill {
  display: flex;
  flex-direction: row;
}
.homepage-divider > h1 {
  color: var(--font-color-main);
  font-size: 3rem;
}
.hero-card-buttons-container {
  margin-top: 1rem;
}
.hero-card-buttons-container > a {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.hero-card-button {
  font-family: 'San Francisco Display', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  white-space: nowrap;
  min-width: 110px;
  border-radius: 20px;
  border-style: none;
  padding: 0.75rem 1.5rem;
  color: var(--font-color-main);
  background-color: var(--button-background-color);
  cursor: pointer;
}
.button-color {
  color: var(--font-color-main);
  font-weight: 600;
  transition: background-color 0.2s;
}
.button-color:hover {
  cursor: pointer;
  background-color: var(--button-background-color-light) !important;
}
.highlight {
  /* line-height: 0; */
  background-color: var(--button-background-color-light) !important;
  /* height: -10px; */
  padding: 0 0.25rem;
}
.project-card-buttons {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
}
.project-card-buttons > a > button {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  color: var(--font-color-main);
  background-color: var(--button-background-color);
}
.button-link {
  cursor: default !important;
}
.button-link > button {
  cursor: pointer;
}
.icon-only {
  text-align: right;
  min-width: 130px;
}
.icon-only > a > button {
  transform: scale(1.25);
  margin: 0 1rem 1rem 0;
  padding: 0 0.8rem !important;
}
.icon-only > a > button > img {
  margin: 0;
}
.button-icon {
  width: 1rem;
  margin-left: 5px;
  vertical-align: sub;
}
.homepage-picture-img {
  margin: 0.5rem;
  flex: 1 1 0;
  border-radius: 25px;
  object-fit: cover;
  min-width: 250px;
  max-width: 400px;
}
.homepage-picture-img,
.homepage-card {
  box-shadow: 0px 7px 15px var(--shadow-color);
}
.homepage-card {
  font-family: 'San Francisco Display', sans-serif;
  display: inline-block;
  margin: 0.6rem;
  border-radius: 25px;
  padding: 40px;
}
.project-card-headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}
.project-card-headline {
  color: var(--font-color-main);
  display: inline-block;
  font-style: 'San Francisco Display';
  font-size: 1.5rem;
  font-weight: bold;
}
.homepage-stack-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.homepage-stack-container div:nth-child(1) {
  /* grid-column-end: span 2; */
  grid-row-end: span 2;
  background-color: white;
}
.tech-card {
  font-weight: 600;
  min-width: 100px;
  display: flex;
  align-items: center;
  opacity: 0;
}
.pop-in {
  animation: pop-in 0.5s;
  animation-fill-mode: forwards;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.tech-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}
.project {
  color: var(--font-color-white);
  /* background-image: linear-gradient(
    to bottom right,
    rgb(49, 47, 47),
    rgba(49, 47, 47, 0.9)
  ); */
  background-color: white;
}
.project-card-stack {
  display: flex;
  flex-wrap: wrap;
}
.project-card-stack li {
  font-style: italic;
  font-size: 1rem;
  display: inline;
  color: var(--font-color-accent);
  font-weight: 400;
  margin-right: 0.5rem;
  height: auto;
}
.project-card-description {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--font-color-main);
}
.project-image {
  margin: auto;
  display: block;
  border: 1px solid gray;
}
@media (max-width: 1040px) {
  .homepage-stack-container {
    grid-template-columns: repeat(3, 33%);
  }
}
@media (max-width: 800px) {
  .homepage-stack-container {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 700px) {
  .hero,
  .project-cards-wrapper {
    display: flex;
    flex-direction: column;
  }
  .hero {
    max-height: inherit;
    flex-direction: row;
  }
}
@media (max-width: 540px) {
  .homepage-picture-img {
    display: none;
  }
  .hero-card-buttons-container {
    display: flex;
  }
  .hero-card-buttons-container > a {
    flex: 1;
  }
  .hero-card-buttons-container > a > button {
    width: 90%;
  }
  .tech-card {
    margin: 0.3rem !important;
    min-width: 0px !important;
    padding: 1rem;
  }
  .homepage-stack-container div:nth-child(1) {
    /* grid-column-end: span 2; */
    display: flex;
    justify-content: center;
    grid-column-end: span 2;
    /* grid-row-end: span 1; */
    background-color: white;
  }
  .tech-icon {
    margin-right: 2px;
  }
  .homepage-divider > h1 {
    text-align: center;
  }
}
