.homepage-section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.first-section {
  min-height: 350px;
  max-height: 350px;
}
nav {
  margin-right: 0.5rem;
}
.card-one {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(173, 216, 230, 1),
    rgba(173, 216, 230, 0.7)
  );
}
.emoji {
  margin: 0 10px;
}
.card-one > .homepage-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.card-one * h1 {
  font-size: 3rem;
}
.hero-card-buttons-container {
  margin-top: 1rem;
}
.hero-card-button {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.project-card-buttons {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  /* padding: 0.75rem 1.5rem; */
  cursor: pointer;
}
.project-card-buttons > a > button {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}
.icon-only {
  text-align: right;
  min-width: 130px;
}
.icon-only > a > button {
  transform: scale(1.25);
  margin: 0 1rem 1rem 0;
  padding: 0 0.8rem !important;
}
.icon-only > a > button > img {
  margin: 0;
}
.button-icon {
  width: 1rem;
  margin-left: 5px;
  vertical-align: sub;
}
.homepage-picture-img {
  margin: 0.5rem;
  flex: 1 1 0;
  border-radius: 25px;
  object-fit: cover;
  min-width: 200px;
  max-width: 400px;
}
.homepage-picture-img,
.homepage-card {
  box-shadow: 0px 7px 15px var(--shadow-color);
}
.homepage-card {
  font-family: 'San Francisco Display', sans-serif;
  display: inline-block;
  margin: 0.5rem;
  border-radius: 25px;
  padding: 40px;
}
.homepage-card-headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}
.homepage-card-headline {
  font-style: 'San Francisco Display';
  font-size: 1.5rem;
  font-weight: bold;
}
.homepage-card-stack {
  display: flex;
  flex-wrap: wrap;
}
.homepage-card-stack li {
  font-style: italic;
  font-size: 0.9rem;
  display: inline;
  color: var(--font-color-accent);
  margin-right: 0.5rem;
}
.homepage-card-description {
  margin: 1rem 0;
}
.project-image {
  /* width: 400px;
  height: 400px; */
  margin: auto;
  display: block;
}
@media (max-width: 660px) {
  .homepage-section {
    flex-direction: column;
  }
  .first-section {
    max-height: inherit;
    flex-direction: row;
  }
}
@media (max-width: 520px) {
  .homepage-picture-img {
    display: none;
  }
}
