.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}
.page-headline {
  font-size: 3rem;
  font-weight: 700;
}
.page-subheadline {
  font-size: 1.5rem;
  font-weight: 500;
}
.homepage-section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.first-section {
  min-height: 350px;
  max-height: 350px;
}
nav {
  margin-right: 0.5rem;
}
.card-one {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 1.5rem;
  background-image: linear-gradient(
    to bottom right,
    rgba(173, 216, 230, 1),
    rgba(173, 216, 230, 0.7)
  );
}
.wave-emoji {
  display: inline-block;
  animation: wobble 1.5s ease-in-out;
}
@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateX(-32px) rotate(-10deg);
    transform: translateX(-32px) rotate(-10deg);
  }

  30% {
    -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
    transform: translateX(calc(32px / 2)) rotate(10deg);
  }

  45% {
    -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
    transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
  }

  60% {
    -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
    transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
  }

  75% {
    -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
    transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
  }
}
.emoji {
  margin: 0 10px;
}
.card-one > .homepage-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.card-one * h1 {
  font-size: 3rem;
}
.hero-card-buttons-container {
  margin-top: 1rem;
}
.hero-card-button {
  font-family: 'San Francisco Display', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  padding: 0.75rem 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  color: var(--font-color-main);
  background-color: var(--button-background-color);
}
.project-card-buttons {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
}
.project-card-buttons > a > button {
  font-family: 'San Francisco';
  font-weight: 500;
  font-size: 0.85rem;
  height: 2.5rem;
  border-radius: 20px;
  border-style: none;
  color: var(--font-color-main);
  background-color: var(--button-background-color);
}
.icon-only {
  text-align: right;
  min-width: 130px;
}
.icon-only > a > button {
  transform: scale(1.25);
  margin: 0 1rem 1rem 0;
  padding: 0 0.8rem !important;
}
.icon-only > a > button > img {
  margin: 0;
}
.button-icon {
  width: 1rem;
  margin-left: 5px;
  vertical-align: sub;
}
.homepage-picture-img {
  margin: 0.5rem;
  flex: 1 1 0;
  border-radius: 25px;
  object-fit: cover;
  min-width: 200px;
  max-width: 400px;
}
.homepage-picture-img,
.homepage-card {
  box-shadow: 0px 7px 15px var(--shadow-color);
}
.homepage-card {
  font-family: 'San Francisco Display', sans-serif;
  display: inline-block;
  margin: 0.5rem;
  border-radius: 25px;
  padding: 40px;
}
.homepage-card-headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
}
.homepage-card-headline {
  font-style: 'San Francisco Display';
  font-size: 1.5rem;
  font-weight: bold;
}
.homepage-card-stack {
  display: flex;
  flex-wrap: wrap;
  /* height: 50px; */
}
.homepage-card-stack li {
  font-style: italic;
  font-size: 1rem;
  display: inline;
  color: var(--font-color-accent);
  margin-right: 0.5rem;
  height: auto;
}
.homepage-card-description {
  margin-bottom: 1rem;
  font-size: 1rem;
  height: 75px;
}
.project-image {
  margin: auto;
  display: block;
}
@media (max-width: 660px) {
  .homepage-section {
    flex-direction: column;
  }
  .first-section {
    max-height: inherit;
    flex-direction: row;
  }
}
@media (max-width: 520px) {
  .homepage-picture-img {
    display: none;
  }
  .hero-card-buttons-container {
    display: flex;
  }
  .hero-card-buttons-container > a {
    flex: 1;
  }
  .hero-card-buttons-container > a > button {
    width: 90%;
  }
}
